.background-image {
    background: url('../../assets/background.jpg');
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 768px) {
    .nft-text {
        margin-bottom: 15px;
    }    
}